
* {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
  }

  
  
  /* Header/Blog Title */
  .header {
    padding: 20px;
    font-size: 35px;
    text-align: center;
    background: #bdc3c7 ;
  }
  .subtitle{
    font-size: small;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 25%;
    padding-right: 20px;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 75%;
    
  }
aside{
    width: 25%;
    padding-right: 20px;
    float: left;
}
  
  
  /* Fake image */
  .fakeimg {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /* width: 100%;
    padding: 20px; */
  }
  .roundimg {
    
        border-radius: 50%; 
        width: 100px;
        height: 100px;
    }    

  
  /* Add a card effect for articles */
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    background: #bdc3c7
  }
  /* navigation bar hower*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #3d3f40;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li a:hover:not(.active) {
    background-color: #536976;
  }
  
  .active {
    background-color: #9e9e9e;
  }
  /* contact form */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #536976;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #536976;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .text {
    font-size: 20px;
    padding-left: 20px;
    font-weight:bold;
  }
  .image{
    float: left;
  }


  /* slide show*/
  .auto-slider{
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    padding: 10px 10px 20px;
    background: #fff;
    max-width: 720px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}
.indicator{
  width: 100%;
  max-width: 720px;
  height: 6px;
  background: #536976;
  position: absolute;
  bottom: 0;
  
  animation: indicating 5s ease infinite; 
  
}
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 25s sliding ease infinite; 
}
@keyframes sliding{
  0%{left: 0%; }
  20%{left: -100%;}
  40%{left: -200%;}
  60%{left: -300%;}
  80%{left: -400%;}
  100%{left: 0%;}
}        

@keyframes indicating{
  from{
      left: -100%;
  }
  to{
      left: 0;
  }
} 

  
  
  

  