
* {
    box-sizing: border-box;
  }
  
 
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
  }
  
  
  /* Header/Blog Title */
  .header {
    padding: 20px;
    font-size: 35px;
    text-align: center;
    background: #bdc3c7 ;
  }
  .subtitle{
    font-size: small;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* width: 100%;
    padding: 0; */
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: rgb(255, 255, 255);
     padding: 20px;
     margin-top: 20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    background: #bdc3c7
 }
 /* sub title */
 sub {
    vertical-align: sub;
    font-size: small;
    margin-left: 100px;
    margin-bottom: 110px;
  }
  /* navigation bar hower*/
  ul {
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d3f40;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:#536976;
  }
  
  .active {
    background-color: #9e9e9e;
  }
 
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .text {
    font-size: 20px;
    padding-left: 20px;
    font-weight:bold;
  }
  .image{
    float: left;
  }
  @media screen and (max-width: 800px) {
    .leftcolumn,.rightcolumn {   
         width: 100%;
         padding: 0;
       }
     }   
   

  
 